html {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #846ca0;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #6e7681;
}

th {
    background-color: #161b22;
    color: #846ca0;
}

tr:nth-child(even) {
    background-color: #1c2029;
}

tr:hover {
    background-color: #202233;
}

td:first-child,
th:first-child {
    width: 5%;
}

td:nth-child(2),
th:nth-child(2),
td:nth-child(3),
th:nth-child(3) {
    width: 25%;
}

td:nth-child(4),
th:nth-child(4),
td:nth-child(5),
th:nth-child(5) {
    width: 35%;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid #6e7681;
    border-radius: 7px;
    padding: 1.2rem;
}
