body {
	background-color: #0D1117;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #161B22;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.logo {
	float: left;
	height: 50px;
	margin-right: 20px;
}

h1 {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	color: #C9D1D9;
}

.profile {
	position: relative;
	display: inline-block;
}

.profile-icon {
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	list-style: none;
	display: none;
}

.dropdown li {
	margin-bottom: 10px;
}

.dropdown li:last-child {
	margin-bottom: 0;
}

.dropdown a {
	color: black;
	text-decoration: none;
}

.dropdown a:hover {
	text-decoration: underline;
}

.profile:hover .dropdown {
	display: block;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.repo-info {
	text-align: center;
	margin-bottom: 40px;
	color: #C9D1D9;
}

.stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.stat {
	background-color: #161B22;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.stat h2 {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #C9D1D9
}

.stat p {
	margin: 0;
	font-size: 24px;
	color: #999;
	font-weight: bold;
}

.search-again {
	background-color: #846CA0;
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 60px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.search-again:hover {
	background-color: #694c7c;
}