<!DOCTYPE html>
<html>

<head>
    <title>Github Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='assets/GitHubGoIcon.png') }}" type="image/x-icon" />
</head>

<body>
    <header>
        <a href="{{ url_for('home')}} ">
            <img src="{{ url_for('static', filename='assets/GitHubGoLogo.png') }}" alt="Github logo" class="logo" />
        </a>
        <div class="profile">
            <img src="{{ url_for('static', filename='assets/blank profile.png') }}" alt="Profile icon"
                class="profile-icon" />
            <ul class="dropdown">
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="repo-box">
            <div class="repo-info">
                <h2>Repository: <span>{{ repository }}</span></h2>
                <h2>Username: <span>{{ username }}</span></h2>
            </div>
            <div class="stats">
                <div class="stat">
                    <h2>Commits</h2>
                    <p>{{ commits }}</p>
                </div>
                <div class="stat">
                    <h2>Comments</h2>
                    <p>{{ comments }}</p>
                </div>
                <div class="stat">
                    <h2>Pull Requests</h2>
                    <p>{{ pulls }}</p>
                </div>
                <div class="stat">
                    <h2>Code Reviews</h2>
                    <p>{{ reviews }}</p>
                </div>
            </div>
            <a href="{{ url_for('home') }}">
                <button class="search-again">Search Again</button>
            </a>
        </div>
        {% if search_history %}
        <div class="search-box"></div>
        {% endif %}
    </div>
</body>

</html>
