<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHubGo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mpStyle.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/GitHubGoIcon.png') }}" type="image/x-icon" />
</head>

<body>
    <header class="logo">
        <img src="{{ url_for('static', filename='images/GitHubGoLogo.png') }}" alt="" />
        <nav>
            <ul class="nav_links">
                <li><a href="{{ url_for('register') }}">Sign up</a></li>
                <li>|</li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    <ul class="flashes">
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

    <p>
        To generate an api key go
        <a
            href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token">here</a>
    </p>
    <form action="#" method="POST">
        <div class="boxContainer2">
            <table class="elementsContainter2">
                <tr>
                    <td>
                        <input type="password" placeholder="API Key" class="search2" name="api_key"
                            value="{{ api_key }}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="boxContainer1">
            <table class="elementsContainter1">
                <tr>
                    <td>
                        <input type="text" placeholder="Repository" class="search2" name="repository"
                            value="{{ repository }}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="boxContainer2">
            <table class="elementsContainter2">
                <tr>
                    <td>
                        <input type="text" placeholder="Username" class="search1" name="username"
                            value="{{ username }}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="butContainer">
            <button class="button" type="submit">GO</button>
        </div>
    </form>
</body>

</html>
