<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='assets/GitHubGoIcon.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-xr/XOqhL0ZfJcE0ETsHsahrWv9OJyov/v+caI1tVJc+I2fK37ZzWRa5imFdjFETB" crossorigin="anonymous" />
    <title>GitHub Go ResetPassword</title>
</head>

<body>
    <div class="video-container">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static', filename='assets/video.mp4') }}" type="video/mp4" />
        </video>
    </div>

    <ul class="flashes">
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="whole-container">
        <div class="Logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" />
            </a>
        </div>
        <div class="ResetPasswordBox">
            <h1>Password Reset</h1>
            <form method="post" action="{{ url_for('reset', token=token) }}">
                <p style="
                            font-size: 20px;
                            margin-top: 30px;
                            margin-bottom: 50px;
                            color: #c9d1d9;
                            text-align: center;
                            padding-bottom: 10px;
                        ">
                    Please fill in this form to reset your password.
                </p>
                <img class ="image" src="{{ url_for('static', filename='assets/lock-solid.png') }}" alt="lock" />
                <input type="password" name="password" placeholder="Enter Password" required />
                <img class="image" src="{{ url_for('static', filename='assets/lock-solid.png') }}" alt="person" />
                <input type="password" name="confirm_password" placeholder="Confirm Password" required />
                <div class="buttons">
                    <button type="submit">Reset</button>
                </div>
            </form>
            <div class="ResetPasswordFooter"></div>
        </div>
    </div>
</body>

</html>
