<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='assets/GitHubGoIcon.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-xr/XOqhL0ZfJcE0ETsHsahrWv9OJyov/v+caI1tVJc+I2fK37ZzWRa5imFdjFETB" crossorigin="anonymous" />
    <title>GitHub Go Register</title>
</head>

<body>
    <div class="video-container">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static', filename='assets/video.mp4') }}" type="video/mp4" />
        </video>
    </div>

    <div class="whole-container">
        <div class="Logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" />
            </a>
        </div>
        <div class="RegisterBox">
            <h1>Register</h1>

            <p style="font-size: 20p"></p>

            <p>Please fill in this form to create an account.</p>
            <img src="{{ url_for('static', filename='assets/mail.png') }}" alt="email" />
            <input type="Username" id="username" placeholder="Enter Email" />
            <img src="{{ url_for('static', filename='assets/user-solid.png') }}" alt="person" />
            <input type="Username" id="username" placeholder="Enter Username" />
            <img src="{{ url_for('static', filename='assets/lock-solid.png') }}" alt="lock" />
            <input type="Password" placeholder="Enter Password" />
            <img src="{{ url_for('static', filename='assets/lock-solid.png') }}" alt="person" />
            <input type="Password" placeholder="Confirm Password" />
            <p id="privacy">
                By creating an account you agree to our
                <a href="#">Terms & Privacy</a>.
            </p>
            <div class="buttons">
                <button>Register</button>
            </div>
            <div class="RegisterFooter">
                <a id="resetlink" href="{{ url_for('reset') }}">Forgot your username/password?</a>
                <p>
                    Already have an account?
                    <a href="{{ url_for('login') }}">Sign in</a>.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
