<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHubGo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mpStyle.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/GitHubGoIcon.png') }}" type="image/x-icon" />
</head>

<body>
    <header class="logo">
        <img src="{{ url_for('static', filename='images/GitHubGoLogo.png') }}" alt="" />
        <nav>
            <ul class="nav_links">
                <li><a href="{{ url_for('register') }}">Sign up</a></li>
                <li>|</li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form action="#" method="POST">
        <div class="boxContainer1">
            <table class="elementsContainter1">
                <tr>
                    <td>
                        <input type="text" placeholder="Repository" class="search2" name="repository" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="boxContainer2">
            <table class="elementsContainter2">
                <tr>
                    <td>
                        <input type="text" placeholder="Username" class="search1" name="username" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="butContainer">
            <button class="button" type="submit">GO</button>
        </div>
    </form>
</body>

</html>
